/*****************************************************************************************************/
/* Last modified on */
/* 07-MAR-2017 */
/*****************************************************************************************************/
body > .moving{
	cursor: move;
	cursor: -webkit-grabbing !important; /* Chrome 1-21, Safari 4+ */
    cursor:    -moz-grabbing !important; /* Firefox 1.5-26 */
    cursor:         grabbing !important; /* W3C standards syntax, should come least */
}

body > .move-hint {
	position: absolute;	
	font-family: Arial;
	font-weight: bold;
	font-size: 9pt;
	border: 1px solid #B0CEE3;
	background: #D2E3EF;
	cursor: -webkit-grabbing !important; /* Chrome 1-21, Safari 4+ */
    cursor:    -moz-grabbing !important; /* Firefox 1.5-26 */
    cursor:         grabbing !important; /* W3C standards syntax, should come least */
	box-shadow: rgba(0,0,0,0.3) 1px 1px 1px;
	pointer-events: none;
}

body > .move-hint[x-mode="move"] {
	background: #9CCC9D !important;
	border-color: forestgreen !important;
}

body > .move-hint[x-allow="0"] {
	background: #ff8080 !important;
	border-color: firebrick !important;
}

.grid3.sys-actions {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.grid3.sys-actions tbody tr[x-app-id="0"] {
	color: #2C80B3;
}

.grid3.sys-actions tbody tr[x-status="0"] {
	color: firebrick;
}

.grid3.sys-actions tbody tr[x-status="10"] {
	/*color: #2C80B3;*/
	/*color: #27AE60;*/
}

.xgrid3.sys-actions tbody tr[x-type="10"] {
	color: #2C80B3;
	/*color: #27AE60;*/
}

.grid3.sys-actions tbody td ul[x-rights="1"] {
	margin: 0;
    padding: 0;
    height: 100%;
    list-style-type: none;
}

.grid3.sys-actions tbody td ul[x-rights="1"] li {
	display: inline;
    width: auto;
    height: 100%;
	margin-right: 4px;
    padding: 4px 6px 4px 6px;
	border: 1px solid rgba(0,0,0,0.25);
	background-color: dodgerblue;
	color: white;
	box-shadow: gainsboro 1px 1px 2px;
    cursor: default;
    box-sizing: border-box;
}

.grid3.sys-actions .cell div[tree-sec="icon"][icon-name="position"] {
	cursor: move;
}

.grid3.sys-actions .cell div[tree-sec="icon"][icon-name="position"] svg {
	fill: silver !important;
	pointer-events: none;
}
