SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetAddress] 
-- ***************************************************************************************************
-- Last modified on
-- 14-OCT-2014 ihms.0.0.1.0
-- *************************************************************************************************** 
(
    @id int = 0, 
	@name_id int = 0, 
	@sort varchar(200) = '',
	@order varchar(10) = '',

    @visit_id as bigint = 0
)
AS
BEGIN
    SET NOCOUNT ON;

    --DECLARE @user_id AS int = dbo.F_VisitUserID(@visit_id)
	DECLARE @user_id AS int = 0
    DECLARE @where AS varchar(100)
	DECLARE @sql nvarchar(MAX)
	DECLARE @params nvarchar(max)
	DECLARE @param_id int

	IF LEN(@sort) = 0 SET @sort = 'street'
	IF LEN(@order) = 0 SET @order = 'asc'

	IF @id > 0
	BEGIN
		SET @param_id = @id
		SET @params = '@id int'
		SET @where = 'id = @id'
	END ELSE BEGIN
		SET @param_id = @name_id
		SET @params = '@name_id int'
		SET @where = 'name_id = @name_id'
	END

	SET @sql = '
		SELECT
			a.*,
			c.country,
			t.address_type as address_type_name
		FROM addresses a
		LEFT OUTER JOIN address_types t on a.address_type = t.code
		LEFT OUTER JOIN countries c on a.country_code = c.code
		WHERE
	' + @where + ' ORDER BY ' + @sort +' '+ @order

	EXEC sp_executesql @sql, @params, @param_id
END


GO
