<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<configSections>
	</configSections>

	<appSettings>
		<add key="EngineInitFile" value="C:\inetpub\wwwroot\Claim1MED.NET\engine\EngineInit.vb" />
		<add key="ApplicationUtils" value="C:\inetpub\wwwroot\Claim1MED.NET\app\AppUtilsInit.vb" />
<!--
		<add key="EngineVersion" value="5.0" />
		<add key="EncryptionPassKey" value="john@insky-inc.com" />
		<add key="EncryptionSaltValue" value="ibsi" />

		<add key="ApplicationID" value="5000" />
		<add key="ApplicationName" value="MediCS V5" />
		<add key="ApplicationDescription" value="MediCS Web Version" />
		<add key="ApplicationIcon" value="/app/images/claims1med-16.png" />

		<add key="CacheCssJS" value="1" />
		<add key="LoginUrl" value="/login" />
		<add key="WebAccess" value="ihms.insky-inc.com" />
		-->
	</appSettings>

	<connectionStrings />
  <system.web>
        <globalization culture="en-GB" uiCulture="en-GB" /> <!-- ihms.0.0.0.4: Use en-GB -->
    <!--
            Visual Basic options:
            Set strict="true" to disallow all data type conversions
            where data loss can occur.
            Set explicit="true" to force declaration of all variables.
        -->
		<compilation batch="false" debug="false" explicit="true" strict="false" targetFramework="4.5">
			<assemblies>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="Microsoft.SqlServer.ConnectionInfo, Version=10.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
				<add assembly="Microsoft.SqlServer.Management.Sdk.Sfc, Version=10.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
				<add assembly="Microsoft.SqlServer.Smo, Version=10.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
				<add assembly="Microsoft.SqlServer.SqlEnum, Version=10.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
				
				<add assembly="DevExpress.Data.v12.2, Version=12.2.16.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="DevExpress.Web.v12.2, Version=12.2.16.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
			</assemblies>
		</compilation>

    <!--
          The <authentication> section enables configuration
          of the security authentication mode used by
          ASP.NET to identify an incoming user.
        -->
    <authentication mode="Windows" />
    <!--
           The <customErrors> section enables configuration
           of what to do if/when an unhandled error occurs
           during the execution of a request. Specifically,
           it enables developers to configure html error pages
           to be displayed in place of a error stack trace.

           <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
             <error statusCode="403" redirect="NoAccess.htm" />
             <error statusCode="404" redirect="FileNotFound.htm" />
           </customErrors>
        -->

		<customErrors mode="Off" />
		<httpRuntime requestValidationMode="2.0" maxRequestLength="50000" executionTimeout="1200" targetFramework="4.5" />
		<sessionState timeout="20" regenerateExpiredSessionId="true"> </sessionState>
  </system.web>
  <!--
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <!-- <add value="engine/NavContent.aspx?pid=home" /> -->
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false" />
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="2147483648" />
            </requestFiltering>
        </security>
		<rewrite>
			<rules>
				<rule name="Default" stopProcessing="true">
					<match url="(.*)" />
					<conditions logicalGrouping="MatchAny">
						<add input="{R:0}" pattern="^$" />
						<add input="{R:0}" pattern="^/$" />
					</conditions>
					<action type="Rewrite" url="/engine/content_loader.aspx?pid=home&amp;path=app" appendQueryString="true" />
				</rule>

				<rule name="Login" stopProcessing="true">
					<match url="(.*)" />
					<conditions logicalGrouping="MatchAny">
						<add input="{R:0}" pattern="^login$" />
						<add input="{R:0}" pattern="^login/$" />
					</conditions>
					<action type="Rewrite" url="/engine/login-main.aspx" appendQueryString="true" />
				</rule>

				<rule name="Main Page Data Loader (With 2 Keys)" stopProcessing="true">
					<match url="([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)" />
					<conditions logicalGrouping="MatchAll">
						<add input="{R:2}" pattern="^callback$" />
					</conditions>
					<action type="Rewrite" url="/{R:1}/main-{R:3}.ashx?pid={R:3}&amp;keyid={R:4}&amp;keyid2={R:5}" appendQueryString="true" />
				</rule>

				<rule name="Main Page Data Loader (With 1 Key)" stopProcessing="true">
					<match url="([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)" />
					<conditions logicalGrouping="MatchAll">
						<add input="{R:2}" pattern="^callback$" />
					</conditions>
					<action type="Rewrite" url="/{R:1}/main-{R:3}.ashx?pid={R:3}&amp;keyid={R:4}" appendQueryString="true" />
				</rule>

				<rule name="Main Page Data Loader" stopProcessing="true">
					<match url="([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)" />
					<conditions logicalGrouping="MatchAll">
						<add input="{R:2}" pattern="^callback$" />
					</conditions>
					<action type="Rewrite" url="/{R:1}/main-{R:3}.ashx?pid={R:3}" appendQueryString="true" />
				</rule>

				<rule name="Sub Page Data Loader" stopProcessing="true">
					<match url="([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)" />
					<conditions logicalGrouping="MatchAll">
						<add input="{R:2}" pattern="^get$" />
					</conditions>
					<action type="Rewrite" url="{R:1}/{R:4}.ashx?cmd={R:3}&amp;pid={R:4}" appendQueryString="true" />
				</rule>

				<rule name="Sub Page Data Loader 2" stopProcessing="true">
					<match url="([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)" />
					<conditions logicalGrouping="MatchAll">
						<add input="{R:1}" pattern="^get$" />
					</conditions>
					<action type="Rewrite" url="app/{R:3}.ashx?cmd={R:2}&amp;pid={R:3}" appendQueryString="true" />
				</rule>

				<rule name="Api Calls (Application Level)" stopProcessing="true">
					<match url="([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)" />
					<conditions logicalGrouping="MatchAll">
						<add input="{R:1}" pattern="^app$" />
						<add input="{R:2}" pattern="^api$" />
					</conditions>
					<action type="Rewrite" url="app/api_{R:3}.ashx?cmd={R:4}" appendQueryString="true" />
				</rule>

				<rule name="Main Page Content Loader (With 2 Keys)" stopProcessing="true">
					<match url="([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)" />
					<conditions logicalGrouping="MatchAny">
						<add input="{R:1}" pattern="^app$" />
						<add input="{R:1}" pattern="^sys$" />
					</conditions>
					<action type="Rewrite" url="/engine/content_loader.aspx?path={R:1}&amp;pid={R:2}&amp;keyid={R:3}&amp;keyid2={R:4}" appendQueryString="true" />
				</rule>

				<rule name="Main Page Content Loader (With 1 Key)" stopProcessing="true">
					<match url="([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)" />
					<conditions logicalGrouping="MatchAny">
						<add input="{R:1}" pattern="^app$" />
						<add input="{R:1}" pattern="^sys$" />
					</conditions>
					<action type="Rewrite" url="/engine/content_loader.aspx?path={R:1}&amp;pid={R:2}&amp;keyid={R:3}" appendQueryString="true" />
				</rule>

				<rule name="Main Page Content Loader" stopProcessing="true">
					<match url="([_0-9a-z-]+)/([_0-9a-z-]+)" />
					<conditions logicalGrouping="MatchAny">
						<add input="{R:1}" pattern="^app$" />
						<add input="{R:1}" pattern="^sys$" />
					</conditions>
					<action type="Rewrite" url="/engine/content_loader.aspx?path={R:1}&amp;pid={R:2}" appendQueryString="true" />
				</rule>

				<rule name="Css Dynamic Loader" stopProcessing="true">
					<match url="loadcss/(.*)" />
					<action type="Rewrite" url="/engine/css-loader.ashx?css={R:1}" appendQueryString="true" />
				</rule>

				<rule name="Script Dynamic Loader" stopProcessing="true">
					<match url="loadscript/(.*)" />
					<action type="Rewrite" url="/engine/script-loader.ashx?script={R:1}" appendQueryString="true" />
				</rule>

				<rule name="Api Get Data (call by sub pages)" stopProcessing="true">
					<match url="([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)" />
					<conditions logicalGrouping="MatchAll">
						<add input="{R:1}" pattern="^api$" />
						<add input="{R:2}" pattern="^getdata$" />
					</conditions>
					<action type="Rewrite" url="engine/api_{R:2}.ashx?cmd={R:3}" appendQueryString="true" />
				</rule>

				<rule name="Api Calls (System Level)" stopProcessing="true">
					<match url="([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)" />
					<conditions logicalGrouping="MatchAll">
						<add input="{R:1}" pattern="^api$" />
					</conditions>
					<action type="Rewrite" url="engine/api_{R:2}.ashx?cmd={R:3}" appendQueryString="true" />
				</rule>

<!--
				<rule name="Samples" stopProcessing="true">
					<match url="samples/([_0-9a-z-]+)" />
					<action type="Rewrite" url="/samples/{R:1}.aspx?pid={R:1}" appendQueryString="true" />
				</rule>

				<rule name="Main Page Data Callback (With Key)" stopProcessing="true">
					<match url="([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)" />
					<conditions logicalGrouping="MatchAll">
						<add input="{R:1}" pattern="^getdata$" />
					</conditions>
					<action type="Rewrite" url="/app/{R:2}-{R:3}.ashx?pid={R:2}&amp;keyid={R:4}" appendQueryString="true" />
				</rule>

					<rule name="Main Page Data Callback (No Key)" stopProcessing="true">
						<match url="([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)" />
						<conditions logicalGrouping="MatchAll">
							<add input="{R:1}" pattern="^getdata$" />
						</conditions>
						<action type="Rewrite" url="/app/{R:2}-{R:3}.ashx?pid={R:2}" appendQueryString="true" />
					</rule>

				<rule name="Main Page Data Loader (With Key)" stopProcessing="true">
					<match url="([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)" />
					<conditions logicalGrouping="MatchAll">
						<add input="{R:1}" pattern="^nav$" />
						<add input="{R:4}" pattern="^callback$" />
					</conditions>
					<action type="Rewrite" url="/app/main-{R:2}.ashx?path={R:1}&amp;pid={R:2}&amp;keyid={R:3}&amp;res={R:4}" appendQueryString="true" />
				</rule>

					<rule name="Main Page Data Loader" stopProcessing="true">
						<match url="([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)" />
						<conditions logicalGrouping="MatchAll">
							<add input="{R:1}" pattern="^nav$" />
							<add input="{R:3}" pattern="^callback$" />
						</conditions>
						<action type="Rewrite" url="/app/main-{R:2}.ashx?path={R:1}&amp;pid={R:2}&amp;res={R:3}" appendQueryString="true" />
					</rule>

				<rule name="Main Page Content Loader 2 (With Key)" stopProcessing="true">
					<match url="([_0-9a-z-]+)/([_0-9a-z-]+)" />
					<conditions logicalGrouping="MatchAny">
						<add input="{R:1}" pattern="^admin$" />
						<add input="{R:1}" pattern="^batch$" />
						<add input="{R:1}" pattern="^claim$" />
						<add input="{R:1}" pattern="^claim-tables$" />
						<add input="{R:1}" pattern="^home$" />
						<add input="{R:1}" pattern="^member$" />
						<add input="{R:1}" pattern="^providers$" />
						<add input="{R:1}" pattern="^system-tables$" />
						<add input="{R:1}" pattern="^security$" />
						<add input="{R:1}" pattern="^service$" />
						<add input="{R:1}" pattern="^system$" />
					</conditions>
					<action type="Rewrite" url="/engine/content_loader.aspx?pid={R:1}&amp;keyid={R:2}" appendQueryString="true" />
				</rule>

				<rule name="Main Page Data Loader 2 (With Key)" stopProcessing="true">
					<match url="([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)" />
					<conditions logicalGrouping="MatchAny">
						<add input="{R:1}" pattern="^claim$" />
					</conditions>
					<conditions logicalGrouping="MatchAll">
						<add input="{R:3}" pattern="^callback$" />
					</conditions>
					<action type="Rewrite" url="/app/main-{R:1}.ashx?pid={R:1}&amp;keyid={R:2)" appendQueryString="true" />
				</rule>

				<rule name="Main Page Content Loader (With Key)" stopProcessing="true">
					<match url="([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)" />
					<conditions logicalGrouping="MatchAll">
						<add input="{R:1}" pattern="^nav$" />
					</conditions>
					<action type="Rewrite" url="/engine/content_loader.aspx?pid={R:2}&amp;keyid={R:3}" appendQueryString="true" />
				</rule>

				<rule name="Main Page Content Loader (No Key)" stopProcessing="true">
					<match url="([_0-9a-z-]+)/([_0-9a-z-]+)" />
					<conditions logicalGrouping="MatchAll">
						<add input="{R:1}" pattern="^nav$" />
					</conditions>
					<action type="Rewrite" url="/engine/content_loader.aspx?pid={R:2}" appendQueryString="true" />
				</rule>

				<rule name="Sub Page Data Loader" stopProcessing="true">
					<match url="([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)" />
					<conditions logicalGrouping="MatchAll">
						<add input="{R:1}" pattern="^app$" />
						<add input="{R:3}" pattern="^callback$" />
					</conditions>
					<action type="Rewrite" url="/app/{R:2}.aspx?path={R:1}&amp;pid={R:2}&amp;res={R:3}" appendQueryString="true" />
				</rule>

				<rule name="Samples Resource" stopProcessing="true">
					<match url="samples/([_0-9a-z-]+)/(.*)" />
					<conditions logicalGrouping="MatchAny">
						<add input="{R:2}" pattern="^css$" />
						<add input="{R:2}" pattern="^script$" />
					</conditions>
					<action type="Rewrite" url="/samples/{R:1}.ashx?pid={R:1}&amp;res={R:2}" appendQueryString="true" />
				</rule>

				<rule name="Resource Loader (Css and Script)" stopProcessing="true">
					<match url="([_0-9a-z-]+)/([_0-9a-z-]+)/(.*)" />
					<conditions logicalGrouping="MatchAny">
						<add input="{R:3}" pattern="^xcss$" />
						<add input="{R:3}" pattern="^xscript$" />
					</conditions>
					<action type="Rewrite" url="/engine/resource_loader.aspx?path={R:1}&amp;pid={R:2}&amp;res={R:3}" appendQueryString="true" />
				</rule>

				<rule name="Resource Loader (Css)" stopProcessing="true">
					<match url="([_0-9a-z-]+)/([_0-9a-z-]+)/(.*)" />
					<conditions logicalGrouping="MatchAny">
						<add input="{R:3}" pattern="^css$" />
					</conditions>
					<action type="Rewrite" url="/engine/css-loader.ashx?css=/{R:1}/css/{R:2}.css" appendQueryString="true" />
				</rule>

				<rule name="Resource Loader (Script)" stopProcessing="true">
					<match url="([_0-9a-z-]+)/([_0-9a-z-]+)/(.*)" />
					<conditions logicalGrouping="MatchAny">
						<add input="{R:3}" pattern="^script$" />
					</conditions>
					<action type="Rewrite" url="/engine/script-loader.ashx?script=/{R:1}/scripts/{R:2}.jst" appendQueryString="true" />
				</rule>
-->
			</rules>
		</rewrite>
    <handlers>
      <remove name="CGI-exe" />
    </handlers>
  </system.webServer>
</configuration>
