/*****************************************************************************************************/
/* Last modified on */
/* 04-OCT-2017 */
/*****************************************************************************************************/
.dialog div[dlg-sec="content"] .dialog-sub-title span[x-sec="main"] {
	font-size: 130%;
	font-weight: bold;
}

.dialog div[dlg-sec="content"] .dialog-sub-title span[x-sec="sub"] {
	font-size: 120%;
	/* font-weight: bold; */
}

.dialog div[dlg-sec="content"] .dialog-sub-title span[x-sec="sub"]::before {
	content: "»";
    font-size: 120%;
    color: goldenrod;
    margin: 0 4px 0 4px;
}

.grid3.claim-notes .header-cell.command-cell[command="master-detail"] svg {
	fill: orange !important;
}

.grid3.claim-notes .header-cell.command-cell[command="deletex"] svg,
.grid3.claim-notes .cell.command-cell[command="deletex"] svg {
	fill: firebrick !important;
}

.grid3.claim-notes .header-cell.command-cell[command="editx"] svg,
.grid3.claim-notes .cell.command-cell[command="editx"] svg {
	fill: dodgerblue !important;
}

.grid3.claim-notes .master-detail-main {
	width: 100%;
}

.grid3.claim-notes .master-detail-container {
	font: 10pt Consolas;
	background: lightyellow;
	/* padding: 6px; */
	width: 100% !important;
	border: 2px solid orange;
	tab-size: 4;
	overflow: auto;
}

.grid3.claim-notes .master-detail-container pre {
	margin: 0;
}

.grid3.claim-notes .row[deleted="1"] {
	color: firebrick !important;
}

.grid3.claim-notes .row[new="1"] {
	color: dodgerblue;
}

.grid3.claim-notes .row[notes="d"] {
	color: red;
}

.grid3.claim-notes .row[notes="s"] {
	color: blue;
}

.grid3.claim-notes .row[notes="p"] {
	color: green;
}

/* CARD VIEW */
.grid3.cardview.notes .content {
	flex-flow: column;
	/* display: block; */
	padding: 10px;
	box-sizing: border-box;
	overflow-y: auto;
	overflow-x: hidden;
}

.grid3.cardview.notes .card {
	flex-shrink: 0;
	/* float: left; */
	width: 100%;
	height: 100px;
	border: 1px solid silver;
	background: white;
	margin-bottom: 10px;
	box-sizing: border-box;
}
