/*****************************************************************************************************/
/* Last modified on */
/* 20-SEP-2017 */
/*****************************************************************************************************/
.grid3.saved-query.payment-processing .custom-header {
	display: flex;
	flex-flow: column;
	font: 10pt Arial;
	padding: 0;
	border: 1px rgba(0,0,0,0.2);
	border-style: solid none none none;
	/* background: lightyellow; */
	/* background: lightyellow; */
}

.grid3.saved-query.payment-processing .custom-header .query-container {
	display: flex;
	flex-grow: 1;
	padding: 4px;
	border: 1px rgba(0,0,0,0.2);
	border-style: none none solid none;
	background: lightyellow;
}

.grid3.saved-query.payment-processing .custom-header .query-container svg {
	fill: firebrick;
}

.grid3.saved-query.payment-processing .custom-header .query-container > div:first-child {
	flex-shrink: 0;
	margin-left: 4px;
}

.grid3.saved-query.payment-processing .custom-header .query-container > div:last-child {
	flex-grow: 1;
	display: flex;
	align-items: center;
	padding-left: 10px;
}

.grid3.saved-query.payment-processing .custom-header .query-container > div:last-child > div {
	position: relative;
    /* top: -4px; */
}

.grid3.saved-query.payment-processing .custom-header .query-containersvg[x-icon="info"] {
	/* fill: dodgerblue; */
	fill: #315B8F;
}

.grid3.saved-query.payment-processing .custom-header .query-container span[x-sec="item"] {
	margin-right: 4px;
}

.grid3.saved-query.payment-processing .custom-header .query-container a[x-sec="name"] {
	color: black;
	font-weight: bold;
}

.grid3.saved-query.payment-processing .custom-header .query-container a[x-sec="value"] {
	color: dodgerblue;
}

.grid3.saved-query.payment-processing .custom-header .query-container a[x-sec="operator"] {
	color: gray;
	/* font-weight: bold; */
}

.grid3.saved-query.payment-processing .custom-header .query-container a[x-sec="operator2"] {
	color: silver;
	font-weight: bold;
}
