/*****************************************************************************************************/
/* Last modified on */
/* 11-SEP-2017 */
/*****************************************************************************************************/
##const
	cancel-background=#ED5565
	complete-background=#1C84C6 
	open-background=slategray
	cancel-color=slategray
	complete-color=slategray
	open-color=slategray
##endconst

.grid3.service-actions .row[x-status="D"] {
	color: forestgreen;
}

.grid3.service-actions .row[x-status="X"] {
	color: firebrick;
}

.grid3.service-actions .master-detail-container {
	font: 10pt Consolas;
	background: lightyellow;
	/* padding: 6px; */
	/* width: 100% !important; */
	width: 600px !important;
	border: 2px solid orange;
	tab-size: 4;
	overflow: auto;
}

.wizard.new-action .grid3.users .content .data-table .row {
	cursor: pointer;
}

.wizard.new-action div[x-sec="header"] {
    padding: 0;
}

.wizard.new-action div[x-sec="header"] div[x-sec="sub-text"] {
	padding: 20px 0 0 0;
}

.wizard.new-action div[x-sec="header"] div[x-sec="sub-title"] table {
	/* width: 100%; */
    /* table-layout: fixed; */
	border: 2px #6DB2E3;
	border-style: solid solid none solid;
	margin-top: 10px;
}

.wizard.new-action div[x-sec="header"] div[x-sec="sub-title"][x-tab="3"] table {
	border-color: orange;
}

.wizard.new-action div[x-sec="header"] div[x-sec="sub-title"] table tr:last-child td {
	border-bottom-style: none;
}

.wizard .pg2 .tab-content[x-sec="actions"] {
	border: 2px solid #6DB2E3;
	border-top-width: 1px;
}

.wizard .pg2 .tab-content[x-sec="users"] {
	border: 2px solid #6DB2E3;
	border-top-width: 1px;
}

.wizard .pg2 .tab-content[x-sec="notes"] {
	border: 2px solid orange;
	border-top-width: 1px;
}
