##const
##endconst

.grid3.service-diagnosis tbody tr[x-default] {
	color: forestgreen;
}

.grid3.service-diagnosis tbody tr[x-main="1"] {
	font-size: 105%;
	font-weight: bold;
}

.grid3.service-diagnosis .data-cell.command-cell[command="add"] svg,
.grid3.service-diagnosis .header-cell.command-cell[command="add"] svg {
	fill: dodgerblue !important;
}

.grid3.service-diagnosis .data-cell.command-cell[command="default"] svg,
.grid3.service-diagnosis .header-cell.command-cell[command="default"] svg {
	fill: forestgreen !important;
}

.grid3.service-diagnosis .data-cell.command-cell[command="deletex"] svg,
.grid3.service-diagnosis .header-cell.command-cell[command="deletex"] svg {
	fill: firebrick !important;
}

.grid3.service-diagnosis .data-cell.command-cell[command="editx"] svg,
.grid3.service-diagnosis .header-cell.command-cell[command="editx"] svg {
	fill: dodgerblue !important;
}

.grid3.service-diagnosis .data-cell.command-cell[command="group"] svg,
.grid3.service-diagnosis .header-cell.command-cell[command="group"] svg {
	fill: forestgreen !important;
}
