DROP PROCEDURE [dbo].[AddPermission]
GO

CREATE PROCEDURE [dbo].[AddPermission]
(
	@role_id AS int = 0,
	@action_id AS int = 0,
	@permissions AS varchar(200) = '',

	@action as tinyint = 10, /* 20 = insert; 10 = update; 0 = delete;*/
    @visit_id as bigint = 0,
    @action_status_id as int = 0 OUTPUT,
    @action_msg as varchar(200) = '' OUTPUT
)
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @this_user_id AS int = dbo.F_VisitUserID(@visit_id)
	DECLARE @this_module_id AS int = 2

	SET @action_msg = ''
	SET @action_status_id = 0

	DELETE [permissions] WHERE role_id = @role_id AND action_id = @action_id

	INSERT INTO [permissions](
		role_id,
		action_id,
		rights_id,
		insert_visit_id,
		inserted_at)
	SELECT
		@role_id,
		@action_id,
		value,
		@visit_id,
		getdate()
	FROM dbo.f_split(@permissions, ',')
END
GO
