// There are more files in common-controls.jst
##includetemplate=engine\common-controls
##include=engine\sys-tools
##include=engine\sys-icons
##include=engine\view-custom-saved-query-view
##include=app\view-my-tasks
##include=app\__init
