##includetemplate=app\app-medics
##include=engine\edit-custom-view
##include=app\main-client
##include=app\client-details
##include=app\countries-lookup
##include=app\edit-client
##include=app\view-addresses
##include=app\edit-address
##include=app\address-types-lookup
##include=app\view-contacts
##include=app\edit-contacts
##include=app\view-banks
##include=app\edit-banks
##include=app\view-floats
##include=app\view-client-case-fees

##include=app\currencies-lookup
