##include=app\medical-providers
##includetemplate=app\doctors
##includetemplate=app\hospitals
##includetemplate=app\clinics
##includetemplate=app\pharmacies
##include=app\clients
##include=app\view-clients
##include=app\doctor-specialisation
##run=MedicalProvidersView